name: Build

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jurplel/install-qt-action@v3
        with:
          version: '6.7.0'
          modules: 'qtsvg'
      - run: cmake -B build -S ordnung-qt -DCMAKE_BUILD_TYPE=Release
      - run: cmake --build build -j$(nproc)
      - uses: actions/upload-artifact@v4
        with:
          name: Ordnung-linux
          path: build/Ordnung

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jurplel/install-qt-action@v3
        with:
          version: '6.7.0'
          modules: 'qtsvg'
      - run: cmake -B build -S ordnung-qt -G "Visual Studio 17 2022" -A x64
      - run: cmake --build build --config Release
      - run: windeployqt build\Release\Ordnung.exe
      - uses: actions/upload-artifact@v4
        with:
          name: Ordnung-windows
          path: build\Release\

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jurplel/install-qt-action@v3
        with:
          version: '6.7.0'
          modules: 'qtsvg'
      - run: cmake -B build -S ordnung-qt -DCMAKE_BUILD_TYPE=Release
      - run: cmake --build build -j$(nproc)
      - run: macdeployqt build/Ordnung.app -dmg
      - uses: actions/upload-artifact@v4
        with:
          name: Ordnung-mac
          path: build/Ordnung.dmg
